<!-- <panel>
<ng-container *ngFor="let sec of sections">
    <ng-container class="heading">{{ sec.header}}</ng-container>
    <ng-container class="body">{{ sec.body}}</ng-container>
</ng-container>
<grid-voting>
    
</grid-voting>
<ul *ngFor="let  group of PeopleByCountry">
    <li>{{ group.country}}</li>

    <ul *ngFor="let s of group.students">
        <li>{{ s.name}}</li>
    </ul>
</ul>
</panel> -->

<!-- <div  *ngIf="courses.length> 0 ; then coursesList else noCourses">
</div>

<button (click)="add()" class="btn btn-primary">Add</button>
<ul *ngFor="let course of showCourses() ; trackBy : trackByCourse">
    <li>
        <button (click)="remove(course)" class="btn btn-danger">
            Remove
        </button>
        {{ course.courseName}}
    </li>
</ul>

<ng-template  #noCourses>
    <div class="alert alert-danger">
        No courses Avaliable
    </div>
   
</ng-template>

<ng-template #coursesList>
     List of courses
</ng-template>

<sample-tab>
    
</sample-tab> <input type="text"  InputFormat [format]="'toUpperCase'" >
<register></register>
 <h1>{{tiltle}}</h1>
<app-child></app-child>
 -->

<reg-reactive></reg-reactive>

 